#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	./configure --enable-libx264 --enable-gpl --enable-libmp3lame --enable-libbmd --enable-libfaac --enable-nonfree

override_dh_auto_test:

override_dh_usrlocal:

